#gamebox {
    background-color: black;
    padding: 1rem;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}